<a href="https://colab.research.google.com/github/taeheonkwon/python2/blob/main/Lecture7_e.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tupule

Tuples are written with round brackets ( ).

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.



Construtor : tuple( )

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
thistuple[4]

'cherry'

In [ ]:
thistuple[5]='peach'

TypeError: ignored

In [ ]:
len(thistuple)

5

In [ ]:
thistuple[:2]

('apple', 'banana')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

print(tuple1, tuple2, tuple3, tuple4)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False) ('abc', 34, True, 40, 'male')

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

Change Tuple Values

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.pop(0)
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [ ]:
y.pop()

'cherry'

In [ ]:
y

['banana']

In [ ]:
thistuple

('banana', 'cherry')

### Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterix is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Loop Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(i, thistuple[i])

0 apple
1 banana
2 cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

### Join Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods

In [ ]:
mytuple.count('apple')

2

In [ ]:
mytuple.index('banana')

1